<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c234d393-6dd6-4cfc-ba19-4472a91cf987" Publisher="CN=Chris" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BinDays.WinStore</DisplayName>
    <PublisherDisplayName>Chris</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BinDays.WinStore.App">
      <VisualElements DisplayName="BinDays" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BinDays.WinStore" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#77C043" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>